cdsapi==0.7.5
cfgrib==0.9.15.0
Cython==3.0.12
dm-tree==0.1.8
Flask==2.0.2
flask-restx==0.5.0
gevent==24.10.3
google-cloud-storage==2.13.0
gunicorn==20.0.4
isodate==0.6.0
netCDF4==1.7.2
pymongo==3.12.1
pysolar==0.11
python-dotenv==0.19.2
werkzeug==2.1.2